Q1. What is a database? Differentiate between SQL and NoSQL databases.


Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.


Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.


Q4. What is DQL? Explain SELECT with an example.


Q5. Explain Primary Key and Foreign Key.


Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.


Q7. Give the order of execution of SQL clauses in an SQL query.

### Answer 1

A database is an organized collection of data that can be easily accessed, managed, and updated. It is used to store data for various purposes, such as to support business operations, for research, or for personal use. Databases can range from simple spreadsheets to complex systems that store and manage huge amounts of data.

SQL Databases:

Relational databases that use structured data.
Organized into tables with pre-defined schemas.
Use SQL to manage and manipulate the data.
Good for complex queries and transactions.
Provide ACID (Atomicity, Consistency, Isolation, Durability) properties, ensuring that transactions are processed reliably.

NoSQL Databases:

Non-relational databases that use unstructured or semi-structured data.
Organized into collections or documents.
Use a variety of languages (such as JavaScript, JSON, or XML) to manage and manipulate the data.
Good for storing large volumes of unstructured data, such as social media posts or multimedia files.
Do not provide ACID properties but offer eventual consistency, which means that the data eventually becomes consistent across all nodes in the database.

### Answer 2

DDL stands for Data Definition Language. It is a set of SQL statements used to define and modify the structure of database objects such as tables, indexes, and views. DDL statements allow you to create, alter, and drop these objects in a database.

CREATE: Used to create new database objects such as tables, indexes, views, or constraints.

ALTER: Used to modify the structure of an existing database object.

DROP: Used to remove an existing database object from the database.

TRUNCATE: Used to remove all data from a table without deleting the table structure.

CREATE TABLE if not exists Customers (CustomerID INT PRIMARY KEY, FirstName VARCHAR(50), LastName VARCHAR (50), EmailID VARCHAR(100), age INT);
ALTER TABLE Customers
ADD PhoneNumber INT(10);

TRUNCATE TABLE Customers;
DROP TABLE Customers;

### Answer 3 

DML stands for Data Manipulation Language. It is a set of SQL statements used to modify and retrieve data in a database. DML statements allow you to insert, update, delete, and retrieve data from database tables.

SELECT: Used to retrieve data from one or more tables.

INSERT: Used to insert new rows of data into a table.

UPDATE: Used to modify existing data in a table.

DELETE: Used to remove rows of data from a table

INSERT INTO Employees (EmployeeID, FirstName, LastName, Email, Phone)
VALUES (101, 'John', 'Doe', 'john.doe@example.com', '555-1234');

UPDATE Employees
SET Email = 'jane.doe@example.com'
WHERE EmployeeID = 102;

DELETE FROM Employees
WHERE EmployeeID = 101;

### Answer 4

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) that is used to retrieve data from a database. DQL statements are used to query the database and retrieve information that matches specific criteria. The most common DQL statement is the SELECT statement, which is used to retrieve data from one or more tables in a database.

SELECT FirstName, LastName, Email

FROM Customers

WHERE Country = 'USA';

the SELECT statement is a DQL statement used to retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve data from, the table you want to retrieve data from, and any criteria you want to use to filter the data.

### Answer 5

A primary key is a unique identifier for each row (record) in a table. It is used to enforce the integrity of the data in the table, ensuring that each row can be uniquely identified and that no two rows can have the same primary key value. Primary keys are typically implemented using a single column or a combination of columns in a table.

A foreign key, on the other hand, is a column or a set of columns in one table that refers to the primary key of another table. It establishes a relationship between the two tables, allowing data from one table to be linked to data in another table. 

The Customers table has the following columns:

CustomerID (primary key)

CustomerName

CustomerEmail

CustomerPhone

The Orders table has the following columns:

OrderID (primary key)

OrderDate

CustomerID (foreign key)

OrderTotal

### Answer 6

In [1]:
import mysql.connector

# establish database connection
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)

# create a cursor object
mycursor = mydb.cursor()

# execute a SQL query
mycursor.execute("SELECT * FROM yourtable")

# fetch the results
result = mycursor.fetchall()

# print the results
for row in result:
  print(row)

ModuleNotFoundError: No module named 'mysql'

We create a cursor object using the cursor() method of the database connection object. The cursor is used to execute SQL queries and fetch the results.

We then execute a SQL query using the execute() method of the cursor object.

### Answer 7

FROM clause - specifies the tables from which to retrieve the data.

JOIN clause - if used, combines data from multiple tables into a single result set.

WHERE clause - filters the data based on specified conditions.

GROUP BY clause - groups the data based on specified columns.

HAVING clause - filters the grouped data based on specified conditions.

SELECT clause - selects the columns to retrieve from the data.

DISTINCT clause - if used, removes duplicates from the result set.

ORDER BY clause - sorts the result set based on specified columns.

LIMIT clause - limits the number of rows returned in the result set.