Tuples: - 

Immutability: Once a tuple is created, it cannot be modified. This means that you cannot add, remove or modify elements of a tuple. 

Indexing and Slicing: Tuples allow indexing and slicing operations, just like lists unlike sets

Tuples can hold elements of different data types like integers, floats, strings, etc.

Tuples can be used as an iterable in loops and comprehensions.

Tuples are more memory efficient than lists, because they use less memory.

two methods in tuple?

count and index

count:- return the number of elements in a tuple
index: - returns the index of the first occurrence of a specified element in the tuple.

Tuples are designed to be immutable, which means that they cannot be changed once they are created. In contrast, lists are mutable and can be modified by adding, removing or changing elements. Therefore, lists have more methods available to support these mutable operations.

sets are function in python that do not allow suplication of elements.

In [20]:
l1=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]
l1

[1,
 1,
 1,
 2,
 1,
 3,
 1,
 4,
 2,
 1,
 2,
 2,
 2,
 3,
 2,
 4,
 3,
 1,
 3,
 2,
 3,
 3,
 3,
 4,
 4,
 1,
 4,
 2,
 4,
 3,
 4,
 4]

In [21]:
s1 = set(l1)
s1

TypeError: 'list' object is not callable

In [17]:
s1=set("L1")
print(s1)

TypeError: 'list' object is not callable

In [22]:
my_list = [1, 2, 3, 2, 4, 3, 5]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3, 4, 5}

TypeError: 'list' object is not callable

In [23]:
s1=set('List')

TypeError: 'list' object is not callable

In [24]:
s1={1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4}

In [25]:
s1

{1, 2, 3, 4}

## difference between union and update

Both union() and update() are methods in Python that can be used to combine two or more sets into a single set. However, they differ in their behavior and how they modify the original set.

The union() method returns a new set that contains all the unique elements from both sets. It does not modify the original set, but instead returns a new set object.

On the other hand, the update() method modifies the original set by adding all the elements from another set to it. It updates the original set in-place, and does not return a new set object.

union() method returns a new set containing all the unique elements from both sets, while the update() method modifies the original set by adding all the elements from another set to it.

In [27]:
## union method function

set1={1,2,3}
set2={3,4,5}
set3=set1.union(set2)

In [28]:
set3

{1, 2, 3, 4, 5}

In [29]:
set2

{3, 4, 5}

In [30]:
set1

{1, 2, 3}

In [31]:
## update method function

set1={1,2,3}
set2={3,4,5}
set1.update(set2)

In [32]:
set1

{1, 2, 3, 4, 5}

In [33]:
set2

{3, 4, 5}

## Answer_5 what are dictionary?

dictionary are function in python language which contains keys along with its respective values. 

A dictionary is a built-in data structure in Python that stores key-value pairs. It is an unordered collection of elements, where each element is a key-value pair enclosed in curly braces { }. The keys in a dictionary must be unique and immutable (such as strings, numbers, and tuples), while the values can be of any data type.

dictionary is an unordered collection of element i.e. the position of its key-value pair is not preserve.

##  Answer_6 nested dictionary

In [71]:
products={'raw material':['steel', 'stainless steel', 'Aluminum']},{'product':['substation','power line','nuts and bolts','solar panel Al frame']}

In [72]:
products

({'raw material': ['steel', 'stainless steel', 'Aluminum']},
 {'product': ['substation',
   'power line',
   'nuts and bolts',
   'solar panel Al frame']})

In [75]:
cities={'city':{'jaipur', 'jodhpur', 'Dilli'}},{'areas':['civil lines','Janpath','VKI','ramgarh']}

In [76]:
cities

({'city': {'Dilli', 'jaipur', 'jodhpur'}},
 {'areas': ['civil lines', 'Janpath', 'VKI', 'ramgarh']})

In [77]:
cities={'city':{'jaipur', 'jodhpur', 'Dilli'}},{'areas':{'civil lines','Janpath','VKI','ramgarh'}}

In [78]:
cities

({'city': {'Dilli', 'jaipur', 'jodhpur'}},
 {'areas': {'Janpath', 'VKI', 'civil lines', 'ramgarh'}})

In [34]:
d1={'name':'sam', 'age':25}

In [35]:
d1

{'name': 'sam', 'age': 25}

In [39]:
d2={'name':('sam','nav'), 'age':(25, 22)}
d2

{'name': ('sam', 'nav'), 'age': (25, 22)}

##  Answer_7

In [40]:
dict1={'language':'python', 'course':'data science masters'}

In [42]:
dict1

{'language': 'python', 'course': 'data science masters'}

In [79]:
dict1.setdefault('topics')

In [80]:
dict1

{'language': 'python', 'course': 'data science masters', 'topics': None}

In [82]:
dict1

{'language': 'python', 'course': 'data science masters', 'topics': None}

In [90]:
dict1.update['topics']:['python']
dict1

{'language': 'python', 'course': 'data science masters', 'topics': None}

In [94]:
dict1['topics']='python','machine learning','deep learning'
dict1

{'language': 'python',
 'course': 'data science masters',
 'topics': ('python', 'machine learning', 'deep learning')}

In [50]:
d2

{'name': ('sam', 'nav'), 'age': (25, 22)}

In [51]:
dict2={'sport':'cricket','teams':['India','Austriia','England','South Africa','Sri Lanka','Mew Zealand']}

In [52]:
dict2

{'sport': 'cricket',
 'teams': ['India',
  'Austriia',
  'England',
  'South Africa',
  'Sri Lanka',
  'Mew Zealand']}

## Answer_8: -There are 3 built in method in pythin by which we can view obkects in a dictionary method: -dict2.keys(), dict2.items() and dict2.values()

In [67]:
dict2.keys()

dict_keys(['sport', 'teams'])

In [68]:
dict2.values()

dict_values(['cricket', ['India', 'Austriia', 'England', 'South Africa', 'Sri Lanka', 'Mew Zealand']])

In [69]:
dict2.items()

dict_items([('sport', 'cricket'), ('teams', ['India', 'Austriia', 'England', 'South Africa', 'Sri Lanka', 'Mew Zealand'])])

In [53]:
dict2['sport']

'cricket'

In [54]:
dict2['teams']

['India', 'Austriia', 'England', 'South Africa', 'Sri Lanka', 'Mew Zealand']

In [55]:
dict2.get('teams')

['India', 'Austriia', 'England', 'South Africa', 'Sri Lanka', 'Mew Zealand']

In [57]:
dict2.keys()

dict_keys(['sport', 'teams'])

In [58]:
dict2.values()

dict_values(['cricket', ['India', 'Austriia', 'England', 'South Africa', 'Sri Lanka', 'Mew Zealand']])

In [61]:
dict2[0]

KeyError: 0

In [62]:
dict2.get('sport')

'cricket'

In [63]:
dict2.get("teams")

['India', 'Austriia', 'England', 'South Africa', 'Sri Lanka', 'Mew Zealand']

In [66]:
dict2.fromkeys('India')

{'I': None, 'n': None, 'd': None, 'i': None, 'a': None}