Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’

Add ‘mango to the above list

Also add banana, grapes & orange in the list

insert apple in the 5th position of a variable ‘a’

Remove last item from the list

Q2. L = [1,2,3,4,5,6,7] Using the above list slice from 1:4

Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"} favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"] Use the zip() function to combine the book set and movie list into a list of tuples representing book/movie pairs. Print the resulting list.

Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [ ]:
### Answer 1

In [ ]:
a = [2,3,4,5,6,7]
a.append('mango')

In [9]:
a

[2, 3, 4, 5, 6, 7, 'mango']

In [16]:
a.extend(['banana', 'grapes', 'orange'])

In [17]:
a

[2, 3, 4, 5, 6, 7, 'mango', 'banana', 'grapes', 'orange']

In [19]:
a[5] = 'apple'

In [20]:
a

[2, 3, 4, 5, 6, 'apple', 'mango', 'banana', 'grapes', 'orange']

In [26]:
del a[-1]

In [27]:
a

[2, 3, 4, 5, 6, 'apple', 'mango', 'banana', 'grapes']

In [28]:
### Answer 2

In [29]:
L = [1,2,3,4,5,6,7]
L[1:4]

[2, 3, 4]

In [ ]:
### Answer 3

In [48]:
L = [4,5,6,8,3]
reversed_L = []
for i in range(len(L)-1, -1, -1):
    reversed_L.append(L[i])
    
print(reversed_L)

[3, 8, 6, 5, 4]

In [49]:
# Define the list
L = [4, 5, 6, 8, 3]

# Initialize two pointers, one at the beginning and one at the end of the list
start = 0
end = len(L) - 1

# Swap the elements at the start and end indices until the pointers meet in the middle
while start < end:
    # Swap the elements
    L[start], L[end] = L[end], L[start]
    
    # Move the pointers inward
    start += 1
    end -= 1

# Print the reversed list
print(L)

[3, 8, 6, 5, 4]

In [51]:
### Answer 4

In [54]:
L1=[2,4,7,3,6,8]
[i**2 for i in L1]

[4, 16, 49, 9, 36, 64]

In [55]:
for i in L1:
    print(i**2)

4
16
49
9
36
64

In [79]:
### Answer 5

def sum_of_integers(t):
    sum = 0
    for i in t:
        sum += i
    print(sum)
    return t

t = (1,2,3,4,5,6)
add = sum_of_integers(t)

21

In [63]:
t = (1,2,3,4,5,6)
sum = 0
for i in t:
    sum += i
print(sum)

21

In [97]:
### Answer 6

In [96]:
x = {'apple','strawberry','banana','mango'}
y = {'berry' ,'grapes','pineapple', 'watermelon'}
z = y.union(z)
print(z)

{'strawberry', 'berry', 'pineapple', 'grapes', 'banana', 'apple', 'watermelon', 'mango'}

In [98]:
### Answer 7

In [99]:
s = {'i', 'love', 'data science'}
s.add('course')
s

{'course', 'data science', 'i', 'love'}

In [100]:
words = {"hello", "world", "python"}
words.add("programming")
print(words)

{'world', 'python', 'programming', 'hello'}

In [ ]:
### Answer 8

In [102]:
animals = {'cat', 'dog', 'tiger', 'lion', 'eagle'}
animals.remove('eagle')
animals

{'cat', 'dog', 'lion', 'tiger'}

In [112]:
### Answer 9

In [111]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
book_movie_pairs = list(zip(favorite_books, favorite_movies))
print(book_movie_pairs)

[('To Kill a Mockingbird', 'The Shawshank Redemption'), ('1984', 'The Godfather'), ('Pride and Prejudice', 'The Dark Knight')]

In [113]:
### Answer 10

In [130]:
def find_difference(numbers):
    
    diff = []
    for i in range(1, len(numbers)):
        difference = numbers[i] - numbers[i-1]
        diff.append(difference)
    return diff

In [133]:
numbers = [1,7,13,44,95]
find_difference(numbers)

[6, 6, 31, 51]

[10, 10, 10, 10]